---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Education -->
    <h2>Education</h2>
    <ul>
    
      <li><strong>Bachelor of Science in Computer Science and Engineering (BSc. Engg.)</strong> <span style="color:green;">[2019-2024]</span><br>
      Department of Computer Science and Engineering (CSE),<br>
      Khulna University of Engineering and Technology (KUET), Khulna, Bangladesh<br>
      CGPA: 3.73/4.00</li><br>
    
      <li><strong>Higher Secondary School Certificate (HSC)</strong> <span style="color:green;">[2016-2018]</span><br>
      New Govt Degree College, Rajshahi, Bangladesh<br>
      GPA: 5.00/5.00</li><br>
    
      <li><strong>Secondary School Certificate (SSC)</strong> <span style="color:green;">[2008-2016]</span><br>
      R.B Govt. High School, Joypurhat, Bangladesh<br>
      GPA: 5.00/5.00</li>
    </ul>
    
    <!-- Work Experience -->
    <h2>Research Experience</h2>
    <ul>
      <li><strong>Lecturer (Full-time)</strong> <span style="color:green;">[2024–Present]</span><br>
      Department of Computer Science and Engineering (CSE),<br>
      School of Data and Sciences (SDS), BRAC University, Dhaka, Bangladesh<br>
      <em>Courses Taught:</em><br>
      CSE321: Operating Systems, CSE421: Computer Networks <span style="color:green;">[Spring 2025, Fall 2024]</span><br>
      CSE111: Object Oriented Programming, CSE221: Algorithms, CSE230: Discrete Mathematics <span style="color:green;">[Summer 2024]</span></li><br>
    
      <li><strong>AI/ML Engineer (Intern)</strong> <span style="color:green;">[2023]</span><br>
      North West Power Generation Company Limited<br>
      Collaborated with a three-person team to develop a Deep Neural Network model for improving predictive maintenance</li>
    </ul>


    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
